# Gradle
.gradle/
build/
app/build/

# Local configuration
local.properties

# Gradle wrapper
gradle/wrapper/dists/

# User-specific
*.iml
*.ipr
*.iws
.DS_Store
.idea/

# Build artifacts
*.apk
*.aab
*.ap_

# Keystore
*.jks
*.keystore

# Android profiler
*.opensense

# Misc
captures/
.externalNativeBuild/
.cxx/
